@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body {
    background-image: linear-gradient(to right,#F1D8C9,#F2C3A7);
}

main {
    background-color: white;
    width:600px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(186, 149, 127, 0.411);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F39209;
    text-align: center;
    text-shadow: 1px 1px 0px #d17d09;
}

h2 {
    color: #af8c78;
}

p{
    text-align: justify;
}